name: PR

on:
  pull_request:
    branches:
      - main

env:
  HUSKY: 0
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.38

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run ESLint
        run: bun run lint

      - name: Check TypeScript types
        run: bun run type-check

      - name: Run Prettier
        run: bun run format

      - name: Run tests
        run: bun test
