name: PR

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

env:
  HUSKY: 0
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
        with:
          cache: true
      
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Run ESLint
        run: pnpm lint

      - name: Check TypeScript types
        run: pnpm type-check

      - name: Run Prettier
        run: pnpm format

      - name: Run tests
        run: pnpm test
